<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.test">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MenubarActivity"
                  android:label="@string/title_activity_menubar"
                  android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".menual">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_changdongActivity.seat4_3pop_changdongActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_changdongActivity.seat3_3pop_changdongActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_changdongActivity.seat2_3pop_changdongActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_changdongActivity.seat1_3pop_changdongActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_changdongActivity.pc_3pop_changdongActivity">
        </activity>
        <activity android:name=".PCcafe.pc_ntop_kwangwoon_univActivity.seat4_ntop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_ntop_kwangwoon_univActivity.seat3_ntop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_ntop_kwangwoon_univActivity.seat2_ntop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_ntop_kwangwoon_univActivity.seat1_ntop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_ntop_kwangwoon_univActivity.pc_ntop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_kwangwoon_univActivity.seat4_3pop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_kwangwoon_univActivity.seat3_3pop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".ChargeActivity">
        </activity>

        <service
                android:name=".PCcafe.pc_3pop_kwangwoon_univActivity.Payment_system"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".Passwd_findingActivity">
        </activity>
        <activity android:name=".My_pc_listActivity">
        </activity>

        <activity android:name=".PCcafe.pc_3pop_kwangwoon_univActivity.seat2_3pop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_kwangwoon_univActivity.pc_3pop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".PCcafe.pc_3pop_kwangwoon_univActivity.seat1_3pop_kwangwoon_univActivity">
        </activity>
        <activity android:name=".Search_pc_cafeActivity">
        </activity>
        <activity android:name=".My_infoActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".join_new">
        </activity>
    </application>

</manifest>